[Unit]
Description=uWSGI instance to serve my_flask_project
After=network.target

[Service]
User={{ ansible_user }} # Или 'user', если вы явно указали его
Group=www-data
WorkingDirectory={{ project_root_path }}
Environment="PATH={{ project_root_path }}/venv/bin"
ExecStart={{ project_root_path }}/venv/bin/uwsgi --ini {{ project_root_path }}/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=journal
NotifyAccess=all

[Install]
WantedBy=multi-user.target
